* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  color: #333;
}
hj
.hero img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
}

.accent {
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media screen (max-width:768) {
 body{background-color: cyan;}
}
.grid{
display:flex;
justify-content: center;
gap: 15px
flex-wrap:wrap;
}

.grid div{
  background-color: cadetblue;
  border-radius: 10px
  padding: 5px
}